h1{
    text-align: center;
    font-weight: bold;
}
#firstP{
    color: aquamarine;
    background-color: bisque;
    font-size: 20px;
    font-weight: bold;
     
}
.secondP{
    padding: auto 5opx ;
    border: 8px solid brown;
    margin: 25px;
    text-align: center;
}
nav{
    color: red;
    font-size: larger;
    font-weight: 100;
}
nav ul li {
    display: inline;
}